<?xml version="1.0"?>
<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
<system>
    <!-- for add new tab in Magento2 system configuration section -->
    <tab id="forix" translate="label" sortOrder="10">
        <label>Forix Settings</label>
    </tab>
    <!-- for create section -->
    <section id="setting_notification" translate="label" type="text" sortOrder="320" showInDefault="1" showInWebsite="1" showInStore="1">
        <label>Setting Notification</label>
        <!-- Assign section to tab -->
        <tab>forix</tab>
        <resource>Forix_SettingNotification::configuration</resource>
        <!-- create group for fields in section -->
        <group id="general" translate="label" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>General</label>
            <!-- create text type field -->
            <field id="enabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Enable Setting Notification</label>
                <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
            </field>
            <field id="recipient_email" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Receiver Email</label>
                <backend_model>Magento\Config\Model\Config\Backend\Email\Sender</backend_model>
                <validate>validate-emailSender</validate>
            </field>
            <field id="sender_email" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Sender Email</label>
                <source_model>Magento\Config\Model\Config\Source\Email\Identity</source_model>
            </field>
            <field id="copy_to" translate="label comment" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Send Notification Email Copy To</label>
                <comment>Comma-separated</comment>
            </field>
            <field id="copy_method" translate="label" type="select" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Send Notification Email Copy Method</label>
                <source_model>Magento\Config\Model\Config\Source\Email\Method</source_model>
            </field>
        </group>
    </section>
</system>
</config>